:root{
    --primary: #6688E8;
    --darkprimary: #6688E8;
    --darkprimarysidd: #DAE2FA;
    --secondary: #92959E;
    --darksecondary: #969696;
    --dark: #15192C;
    --black: #000000;
    --white: #FFF;
}