.tableWrapper {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.06);
}

.tableHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}

.driverCell {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.statusTag {
  font-size: 12px;
  padding: 4px 10px;
  border-radius: 16px;
}
