.settings-password-form {
  max-width: 80vw;
  margin: 0 auto;
  padding-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  font-family: "Inter", sans-serif;
}

.form-title {
  font-size: 16px !important;
  font-weight: 600;
  /* margin-bottom: 4px; */
}

.form-subtitle {
  font-size: 14px;
  color: #667085;
  margin-top: -27px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-group label {
  font-weight: 500;
  font-size: 14px;
  color: #1d1d1f;
}

.helper-text {
  font-size: 12px;
  color: #888;
  margin-top: 4px;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.login-devices-section {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.device-subtitle {
  font-size: 14px;
  color: #667085;
}

.email {
  font-weight: 500;
}

.device-entry {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
  border-top: 1px solid #f0f0f0;
}

.device-icon {
  font-size: 20px;
  color: #4b5563;
  margin-right: 16px;
}

.device-info {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.device-name {
  font-weight: 500;
  color: #1d1d1f;
  font-size: 14px;
}

.device-meta {
  color: #888;
  font-size: 13px;
}

.active-badge {
  font-size: 12px;
  color: #12b76a;
  margin-left: 8px;
}

.device-menu {
  font-size: 18px;
  color: #888;
  cursor: pointer;
}
